* {
  box-sizing: border-box;
}

html {
  font-family: lato, serif;
  color: #626262;
}

body {
  font-size: 0.875rem;
  margin: 0;
}

@font-face {
  font-family: Impact;
  src: url(../fonts/impact/impact.ttf);
}

.Nav-bar-bg {
  height: 66px;
  display: flex;
  align-items: center;
  background-color: #ff7f00;
  justify-content: space-between;
  padding: 57px;
}

.controler {
  flex-direction: column;
}

.header {
  width: 133px;
  height: 22px;
}

.grid {
  display: grid;
}


.image-wrapper {
  display: grid;
  height: 278px;
  width: 353px;
}

input {
  padding: 10px;
  border-radius: 10px;
  font-family: Montserrat-Regular;
  color: rgb(61, 61, 61);
  width: 100%
}

.home-page {
  cursor: pointer;
  padding-right: 16px;
  border-right: 1px solid black;
}

.home-page:hover {
  color: black;
}

.saved-meme {
  cursor: pointer;
  padding-right: 16px;
  padding-left: 16px;
  border-right: 1px solid black;
}

.saved-meme:hover {
  color: black;
}


.about {
  margin-left: 16px;
  cursor: pointer;
}

.about:hover {
  color: black;
}

.left-side {
  color: white;
  display: flex;
  font-size: 19px;
  font-family: Montserrat-Regular, serif;
}

.images {
  padding: 27px 49px 27px 49px;
  background-color: #e3e3e3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px;
}

.font-btn {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  background-color: var(--white);
  overflow: hidden;
  margin: 20px;
  font-weight: bold;
  font-family: sans-serif;
}

.about-me {
  margin-top: 30px;
  display: flex
}

.about-description {
  font-family: Montserrat-Regular;
  font-size: 1.5rem;
  flex-direction: column;
  justify-content: center;
}

button {
  width: 26px;
  height: 18px;
}

img {
  max-width: 100%;
}

.personal-pic {
  max-width: 100%;
  border-radius: 300px;
}

.image-continer {
  width: 300px;
  border-radius: 40px;
  padding: 10px;
}

footer {
  height: 66px;
  display: flex;
  align-items: center;
  background-color: #ff7f00;
  justify-content: center;
  flex-direction: column;
  padding: 57px;
}

.bottom-paragraph {
  color: white;
}

a {
  text-decoration: none;
  display: inline-block;
  color: white;
  margin: 5px;
}

p {
  margin: 2px;
}

h2 {
  margin: 15px;
}

.canvas-container {
  display: flex;
  justify-content: space-around;
}

.meme-text {
  padding: 10px;
  display: block;
}

.text {
  padding: 10px;
  border-radius: 5px;
}

.social-btns {
margin-top: 30px;
}

.social-btn {
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  background-color: #ff7f00;
}

.fb:hover {
  cursor: pointer;
  background-color: #949494;
}

.in:hover {
  cursor: pointer;
  background-color: #949494;
}

.modal {
  opacity: 1;
  width: 20%;
  height: 10%; 
  background-color: #ff7f00;
  color: white;
  border-radius: 10px;
  border: 1px solid black;
  align-self: flex-end;
  text-align: center;	
  vertical-align: middle;
  line-height: 40px;
  transition: opacity .30s ease-in-out;
}

.flex {
  display: flex;
}

.hide {
  display: none;
  opacity: 0;
}
/*
#myColor {
  opacity: 0;
}
*/

.btn-invisible {
  display: none;
}
