* {
  box-sizing: border-box;
}

html {
  font-family: lato, serif;
  color: #626262;
}

body {
  font-size: 0.875rem;
  margin: 0;
}

.Nav-bar-bg {
  height: 66px;
  display: flex;
  align-items: center;
  background-color: #ff7f00;
  justify-content: space-between;
  padding: 57px;
}


.header {
  width: 133px;
  height: 22px;
}

.grid {
  display: grid;
}


.image-wrapper {
  display: grid;
  height: 278px;
  width: 353px;
}



.home-page {
  cursor: pointer;
  padding-right: 16px;
  border-right: 1px solid black;
}

.home-page:hover {
  color: black;
}

.about {
  margin-left: 16px;
  cursor: pointer;
}

.about:hover {
  color: black;
}

.left-side {
  color: white;
  display: flex;
  font-size: 19px;
  font-family: Montserrat-Regular, serif;
}

.images {
  padding: 27px 49px 27px 49px;
  background-color: #e3e3e3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px;
}

.font-btn {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  background-color: var(--white);
  overflow: hidden
}

.about-me {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
}

.about-description {
  display: inline-grid;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  justify-items: center;
  font-family: Montserrat-Regular;
  font-size: 2rem;
  justify-items: center;
  align-items: center;
}

button {
  width: 26px;
  height: 18px;
}

img {
  max-width: 100%;
}

.personal-pic {
  max-width: 100%;
  border-radius: 300px;
}

.image-continer {
  width: 200px;
  border-radius: 40px;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

footer {
  height: 66px;
  display: flex;
  align-items: center;
  background-color: #ff7f00;
  justify-content: center;
  flex-direction: column;
  padding: 57px;
}

.bottom-paragraph {
  color: white;
}


.hide {
  display: none;
}